<% if @item.destroyed? %>
  $('<%= @item %>').hide();
  $('.js-items-count').html("<%= pluralize(@item.user.items.count, 'item') %>");
<% else %>
  $('.flash').append("<div class='alert alert-danger'><button type='button' class='close' data-dismiss='alert'>&times;</button><%= flash.now[:alert] %></div>");
<% end %>
