<h1>Welcome <%=@user.email %>!</h1>
<p id="index-title">This is your SHOW page. Just wanted to make sure you land here after signing in. ;) </p>
<p>
  <p><center>OK, time to move on to next checkpoint..</center></p>
